/*---------------------------通用定义-----------------------*/
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

* html .clearfix {height: 1%;}
/*--------------------------------------*/
li{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#000;
}
table{
	border-collapse:collapse;
	min-width:800px;
	text-align:center;
}
th{
	border:1px solid #000;
	border-collapse:collapse;
}
td{
	border:1px solid #000;
	border-collapse:collapse;
}
html{
	height:100%;
}
body {
    background: none repeat scroll 0 0 #5D7397;
    color: #000000;
    font: 18px/1.5 Tahoma,Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 0 30px;
    padding: 0;
}
.content{
	background-color: #DEEBF3;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.leftContent{
	height:100%;
	width:60%;
	float:left;
	overflow:auto;
}
.rightContent{
	height:100%;
	width:38%;
	border-left:1px dashed #000;
	float:right;
	overflow:auto;
	
}
.writeInfo{
	margin:6px;
	border:1px solid #000;
	overflow:auto;
}
.daohang{
	height:40px;
	width:100%;
	background:none no-repeat scroll #D4D4D4;
}
.daohang ul{
	padding-left:6px;
}
.daohang li{
	display:inline;
	border:1px solid #FFF;
	margin-left:6px;
	line-height:42px;
	cursor:pointer;
}
.select{
	background-color:#59ACFF;
}
.writeContent{
	overflow:auto;
	
}
#startTime{
	width:30%;
}
#endTime{
	width:30%;
}
.remark{
	line-height:66px;
}
.disabled{
	color:#CCC;
}
.changeTr{
	background-color:#FFF; 
}
#jianche{
	color:#F00;
}