body{
	margin:0px;
	padding:0px;
	background:none no-repeat scroll 0 0 #5D7397;/*#171717*/
	width:100%
	font-family:"微软雅黑","黑体","宋体";
}
img{
	border:none;
}
a{
	text-decoration:none;
	color:#FFF;
}
.title{
	color:#CCC;
	padding-left:30px;
	height:0px;
	overflow:hidden;
}
.title h2{
	margin-top:12px;
	margin-bottom:12px;
}
.header{
	margin-top:10px;
	margin-left:30px;
	margin-right:30px;
	background:none no-repeat scroll 0 0 #86BBEA;
	-moz-border-radius:8px 8px 0px 0px;
	-webkit-border-radius:8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	height:110px;
	overflow:hidden;
	
}
.menue{
	height:80%;
	margin:10px;
	border:1px solid #3A80B3;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
}
.menue ul{
	display:block;
	overflow:hidden;
	margin:0px;
	height:100%;
	padding:0px;
}
.menue ul li{
	display:block;
	float:left;
	height:100%;
	width:100px;
	text-align:center;
	line-height:5px;
	border-right:1px solid #B1CFE2;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
}
.menue ul li.first_li{
	width:200px;
	line-height:7px;
	float:right !important;	
}

.menue ul li p{
	margin:0px;
	font-size:18px;
	font-family:"微软雅黑","黑体","宋体";
	font-weight:500;
}
.menue ul li.first_li p{
	color:#000;
	font-weight:600;	
}